.footerbgc{
    width: 100%;
    background-color: #fefefe;
    margin-top: 60px;
    /*border-top: 1px solid #ccc;*/
}
.footer{
    width: 1200px;margin: 0 auto;
    font-size: 14px;
    padding: 12px 0 12px;
    
}

.footer .footerleft{
    width: 620px;height: 150px;
    display: inline-block;
}
.footer .footerright{
    float: right;height: 30px;
    position: relative;
    margin-top: 35px;
}
.footer p{
    color: #999;
    padding: 10px 0 0;
}
.footer img{
    width: 30px;margin-right: 14px;
    cursor: pointer;
}
.footer img.qrcode1{
    width: 120px;
    position: absolute;
    left: -5px;top: -145px;
    display: none;
    border: 10px solid #eaeaea;
    border-radius: 6px;
}
.footer img.qrcode2{
    width: 120px;
    position: absolute;
    left: 50px;top: -145px;
    display: none;
    border: 10px solid #eaeaea;
    border-radius: 6px;
}
.footer .footerright span{
    border: 12px solid #eaeaea;
    border-radius: 8px;
    display: none;
    position: absolute;
    left: -50px;top: -48px;
    background-color: #eaeaea;
    color: #999;
    /*color: #fff;*/
    font-weight: 600;
}
.footer .footerleft ul .title1{
    float: left;
    width: 110px;height: 180px;
    font-weight: 600;
    font-size: 14px;
    color: #444;
}
.footer .footerleft ul .title1 ul{
    margin-top: 18px;
}
.footer .footerleft ul .title1 ul .title2{
    color: #999;
    font-weight: 400;
    margin-top: 10px;
}
.footer .footerleft ul .title1 ul .title2 a{
    color: #999;
    font-weight: 400;
}
.footer .footerleft ul .title1 ul .title2 a:hover{
    color: #cd150d;
    text-decoration: underline;
}


.content{
    width: 1200px;height: 30px;
    margin: 20px auto;font-size: 0;
}
.content img{
    width: 14px;
}
.content span{
    font-size: 14px;
}
.content span.current1{
    color: #cd150d;
}