a{color: black;}
/* 顶部 */


/* 图片轮播 */
.advertise{width: 100%;height: auto;position: relative;overflow: hidden;}
.advertise .adimg{width: 15000px;height: auto;position:relative;}
.advertise .adimg li{float: left;}
.advertise .tright{position: absolute;top: 278px;left: 30px;cursor: pointer;}
.advertise .tleft{position: absolute;top: 278px;right: 30px;cursor: pointer;}
.advertise .tright img,.advertise .tleft img{width: 40px;}
.advertise .pages{position: absolute;top: 260px;left: 570px;width: 180px;height: 22px;}




.main_title{
    width: 1184px;
    height: 22px;
    line-height: 22px;
    margin: 20px auto;
    margin-top: 60px;
    padding-left: 10px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #dd3730; 
}

/*maincontent*/
.maincontent{
    width: 1200px;
    
    margin: 0 auto;
    margin-top: 20px;
}
.viewBox{
    width: 1200px;
    margin: 0 auto;
    height: 380px;
}

.viewBox .left_nav{
    width: 600px;
    height: 380px;
    position: relative;
    float: left;
    overflow: hidden;
}

.left_nav .leftimg{width: 4500px;height: auto;position:relative;}
.left_nav .leftimg li{float: left;width: 600px;}
.left_nav .leftimg li img{width: 600px;}
.left_nav .tright{position: absolute;top: 170px;left: 15px;cursor: pointer;}
.left_nav .tleft{position: absolute;top: 170px;right: 15px;cursor: pointer;}
.left_nav .tright img,.left_nav .tleft img{width: 32px;}
.left_nav .newstext{width: 600px;height: 30px;position: absolute;bottom: 0px;left: 0px;width: 600px;background: rgb(30,30,30);line-height: 30px;}
.left_nav .pages{width: 90px;height: 30px;line-height: 30px;float: right;}
.left_nav .pages span{width: 7px;height: 7px;border-radius: 50%;background: #001;display: inline-block;text-align: center;color: white;cursor: pointer;margin: 12px 4px 12px 0;}
.left_nav .pages span.hoverhot{background: white;}
.left_nav .newstext .ntext{color: white;margin-left: 10px; float: left;}
.left_nav .newstext .ntext span{font-size: 14px;}

/*右内容区*/
.viewBox .right_news{
    width: 550px;
    height: 380px;
    float: right;
}
.news_list{
    margin-top: 6px;
}
.news_list li{
    width: 100%;
    height: 34px;
}

.news_list li::before{
    content:"•";
    color: #666666;
}

.news_list li a{
    color: #666666;
}

.news_list li a:hover{
    color: #dd3730;
}
.news .p1{
    float:left;
    font-size: 14px;
}

.news .p2{
    float: right;
}



.navbgi{
    width: 100%;
    background: url(../images/navbar/bgc_grid1.png) ;
    height: 450px;
    margin-top: 70px;
    margin-bottom: 60px;
    padding-top: 45px;
    /*padding: 10px 0;*/
}
.navbar{
    width: 1200px;
    height: 390px;
    margin: 0px auto;
    

}
.navbar .navbarson{
    width: 280px;
    height: 140px;
    position: relative;
    display: inline-block;
    margin-right: 21px;
    margin-top: 36px;
}
.transform{
    position: absolute;
    top: 70px;
    left:140px;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 99;
}
.rotatex{
    position: relative;
    width: 280px;
    height: 140px;
    -webkit-perspective:1700px;
    perspective:1700px;
    -webkit-perspective-origin:50% 50%;
    perspective-origin:50% 50%;
    overflow: hidden;
}
.rotatex .rotatex-hiden{
    width: 100%;
    height: 100%;
    position:relative;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}

.rotatex .img{
    width: 100%;
    height: 100%;
}
.rotatex .img img{width: 280px;}
.rotatex .img,
.rotatex .dask{
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out
}
.rotatex .img{
    max-width: 100%;
    vertical-align: middle;
    backface-visibility:hidden;
}
.rotatex .dask{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity:0;
    /*background:rgba(1,109,254,1);*/
    text-align:center;
    color: #fff;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    z-index: 99
}
.rotatex .dask .dask-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.rotatex .href{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    text-align: center;
    line-height: 215px;
    font-weight: 600;
    font-size: 14px;
}
/* 鼠标移入 */
.rotatex:hover .img{
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.rotatex:hover .dask{
    opacity:1;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}


.introview{
    width: 1200px;height: 450px;
    margin: 80px auto;
    position: relative;
}

.introview .introtext{
    width: 480px;height: 400px;
    line-height: 26px;
    float: left;
}

.introview .introtext a{
    float: right;
    color: darkblue;
}
.introview .introimg1{
    
    position: absolute;
    top: 0;
    right: 0;
}
.introview .introimg2{
    border: 14px solid white;
    position: absolute;
    top: 135px;
    right: 255px;
}
.introview .introimg3{
    border: 14px solid #fbfcfc;
    position: absolute;
    bottom: 0;
    right: 110px;
}

.tabBoxbgc{
    width: 100%;
    padding: 8px 0 25px;
    background: url(../images/navbar/bgc_grid1.png);
}
.tabBox{
    width: 1200px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 20px;
    
}
.tabBox .main_title{
    margin-top: 40px;
}
.pv_list li{
    width: 288px;
    height: 200px;
    display: inline-block;
    margin-right: 11px;
    position: relative;
    margin-bottom: 11px;
    overflow: hidden;
    border-radius: 6px;
}

.pv_list li .po_title{
    width: 288px;
    height: 200px;
    display: inline-block;
    background: url(../images/beautphoto/shadowbg2.png) no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
    color: #fff;
    line-height: 200px;
    text-align: center;
}

.pv_list2 li .po_title{
    background: none;
}

.pv_list li a img{
    cursor: pointer;
    transition-duration:1s;
    width: 100%;
}

.pv_list li a:hover img{
    transition-timing-function:ease-out;
    transform: scale(1.1);
}
/*.tabBox .morepv{
    width: 164px;height: 42px;
    border: 2px solid #666;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    clear: both;
    margin: 20px 516px;
    line-height: 42px;
    font-weight: 600;
    color: #373b3e;
}
.tabBox .morepv:hover{
    background-color: #cd150d;
    border: 2px solid #cd150d;
    color: white;
}*/





