.main_title{
    width: 1184px;
    height: 22px;
    line-height: 22px;
    margin: 20px auto;
    margin-top: 20px;
    padding-left: 10px;
    color: #333;
    font-size: 22px;
    font-weight: bold;
    border-left: 6px solid #dd3730; 
}

.incbgi{
    width: 100%;
    position: relative;
    font-size:0;
}
.incbgi img{
    width: 100%;
}
.incbgi .incbggrey{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20,25,30,0.5);
}
.incbgi .text{
    color: white;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 100;

}
.incbgi p.fontsize34{
    font-size: 34px;
}


.viewBoxbgc{
    width: 100%;height: 600px;
}
.viewBoxbgc .viewBox {
    width: 1200px;margin: 5px auto;
}

.viewBox .left_nav{
    width: 240px;
    float: left;
}

.viewBox .left_nav .nav_tab{
    border: 1px solid #e3e3e3;
}

.left_nav .nav_tab li {
    height: 48px;
    display: inline-block;
    border-bottom: 1px solid #e3e3e3;
    line-height: 48px;
    width: 100%;
    color: #666666;
}

.left_nav .nav_tab li a{
    color: #666666;
    display: block;
    padding-left: 24px;
}

.left_nav .nav_tab .current{
    background: #dd3730;
}

.left_nav .nav_tab .current a{
    color: #ffffff;
}